node_modules
# Keep environment variables out of version control
.env
dist
.todo

upload/*
!upload/text.txt
test
jest.config.js
prisma/dev.sqlite
prisma/migrations
src/validators
src/middlewares/validator.middleware.ts